<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incident</servlet-name>
        <servlet-class>servlets.Incident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMostPopular</servlet-name>
        <servlet-class>servlets.GetMostPopular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRentalStats</servlet-name>
        <servlet-class>servlets.GetRentalStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceCost</servlet-name>
        <servlet-class>servlets.ServiceCost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVehicles</servlet-name>
        <servlet-class>servlets.GetVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllVehs</servlet-name>
        <servlet-class>servlets.GetAllVehs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentedIncome</servlet-name>
        <servlet-class>servlets.RentedIncome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehsIncome</servlet-name>
        <servlet-class>servlets.VehsIncome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>servlets.AddCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>servlets.AddVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_noCheck</servlet-name>
        <servlet-class>servlets.Reg_noCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDriver</servlet-name>
        <servlet-class>servlets.CheckDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRentCars</servlet-name>
        <servlet-class>servlets.GetRentCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRentVehs</servlet-name>
        <servlet-class>servlets.GetRentVehs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentAction</servlet-name>
        <servlet-class>servlets.RentAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnAction</servlet-name>
        <servlet-class>servlets.ReturnAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheck</servlet-name>
        <servlet-class>servlets.UsernameCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRentCheck</servlet-name>
        <servlet-class>servlets.UserRentCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCars</servlet-name>
        <servlet-class>servlets.GetCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentedStatus</servlet-name>
        <servlet-class>servlets.RentedStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRented</servlet-name>
        <servlet-class>servlets.GetRented</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheck</servlet-name>
        <url-pattern>/UsernameCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRentCheck</servlet-name>
        <url-pattern>/UserRentCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCars</servlet-name>
        <url-pattern>/GetCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRented</servlet-name>
        <url-pattern>/GetRented</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentedStatus</servlet-name>
        <url-pattern>/RentedStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVehicles</servlet-name>
        <url-pattern>/GetVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllVehs</servlet-name>
        <url-pattern>/GetAllVehs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentedIncome</servlet-name>
        <url-pattern>/RentedIncome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/AddCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/AddVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehsIncome</servlet-name>
        <url-pattern>/VehsIncome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_noCheck</servlet-name>
        <url-pattern>/Reg_noCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDriver</servlet-name>
        <url-pattern>/CheckDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRentCars</servlet-name>
        <url-pattern>/GetRentCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRentVehs</servlet-name>
        <url-pattern>/GetRentVehs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentAction</servlet-name>
        <url-pattern>/RentAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnAction</servlet-name>
        <url-pattern>/ReturnAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incident</servlet-name>
        <url-pattern>/Incident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMostPopular</servlet-name>
        <url-pattern>/GetMostPopular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRentalStats</servlet-name>
        <url-pattern>/GetRentalStats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCost</servlet-name>
        <url-pattern>/ServiceCost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
